:root {
  /* COLOURS */
  --black: #121212;
  --dark-blue: #19202d;
  --white: #ffffff;
  --grey-100: #e7eaee;
  --grey-200: #cfcfcf;
  --grey-300: #a3aab4;
  --grey-400: #676d7e;
  --grey-500: #48556a;
  --purple-50: #ede4ff;
  --purple-300: #a775f1;
  --purple-500: #733fc8;
}

body {
  background-color: var(--grey-100);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonials-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2.25rem;
}

.testimonial-card {
  padding: 1.875em;
  border-radius: 8px;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
}

.card-1 {
  background-color: var(--purple-500);
  color: var(--white);
  position: relative;
}

.card-2 {
  background-color: var(--grey-500);
  color: var(--white);
}

.card-3 {
  background-color: var(--white);
  color: var(--grey-500);
}

.card-4 {
  background-color: var(--dark-blue);
  color: var(--white);
}

.card-5 {
  background-color: var(--white);
  color: var(--grey-500);
}

.card-1 .graduate,
.card-1 .secondary-quote {
  color: var(--purple-50);
}

.card-2 .graduate {
  color: var(--grey-300);
}

.card-2 .secondary-quote,
.card-5 .graduate {
  color: var(--grey-300);
}

.card-3 .graduate,
.card-3 .secondary-quote,
.card-5 .secondary-quote {
  color: var(--grey-400);
}

.card-4 .main-quote {
  color: var(--grey-200);
}

.card-4 .secondary-quote {
  color: var(--grey-100);
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 1rem;
}

.card-1 img {
  border: solid 2px var(--purple-300);
}

.card-4 img {
  border: solid 2px var(--purple-500);
}

.name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 110%;
  padding-bottom: 0.25rem;
}

.graduate {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 110%;
}

.main-quote {
  padding: 1rem 0;
  font-size: clamp(1.2rem, 1.2rem + 0.075vw, 1.25rem);
  font-weight: 600;
  line-height: 120%;
  position: relative;
}

.secondary-quote {
  font-size: clamp(0.78rem, 0.75rem + 0.09vw, 0.84rem);
  font-weight: 500;
  line-height: 140%;
}

p {
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 40rem) {
  .testimonials-grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }

  .card-1 {
    grid-area: 1 / 1 / 1 / 3;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10rem;
  }

  .card-2 {
    grid-area: 2 / 1 / 2 / 2;
  }

  .card-3 {
    grid-area: 2 / 2 / 2 / 3;
  }

  .card-4 {
    grid-area: 3 / 1 / 3 / 3;
  }

  .card-5 {
    grid-area: 4 / 1 / 4 / 3;
  }
}

@media (min-width: 64rem) {
  .quotes-marks {
    display: block;
    right: 3.75rem;
  }
  .testimonials-grid {
    width: 80%;
    margin: 6rem auto;

    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }

  .card-1 {
    background-position: top right 4.5rem;
  }
  .card-2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .card-3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card-4 {
    grid-area: 2 / 2 / 3 / 4;
  }

  .card-5 {
    grid-area: 1 / 4 / 3 / 5;
  }
}